<div class="app-body">
  <main class="main m-5">
    <div class="card" *ngIf="!success">
      <div class="card-body">
        <div class="card-title">
          <h5>Upload your mei file</h5>
        </div>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="uploadFile($event.target.files)">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="success">
      <div class="alert alert-success" role="alert">
        We uploaded your file :)!
      </div>
    </div>
  </main>
</div>
