<div class="dragger" *ngIf="dragActive" [style.width.px]="vx-x1" [style.height.px]="vy-y1"
     [style.top.px]="y1" [style.left.px]="x1">

</div>
<main class="w-100 main ">
  <nav class="navbar navbar-light" style="background-color: #ffffff;">
    <h1>viewer</h1>

    <div class="btn-group" role="group" aria-label="Zoom">
      <button type="button" class="btn btn-secondary" (click)="scaling(-1)">
        <fa-icon icon="search-minus"></fa-icon>
      </button>
      <button type="button" class="btn btn-secondary" disabled>{{zoom}}%</button>
      <button type="button" class="btn btn-secondary" (click)="scaling(+1)">
        <fa-icon icon="search-plus"></fa-icon>
      </button>
    </div>
    <div class="btn-group" role="group" aria-label="Page">
      <button type="button" class="btn btn-secondary" (click)="paging(-1)" [disabled]="page === 1">
        <fa-icon icon="angle-left"></fa-icon>
      </button>
      <button type="button" class="btn btn-secondary" disabled>{{page}} of {{pages}}</button>
      <button type="button" class="btn btn-secondary" (click)="paging(+1)" [disabled]="pages === page">
        <fa-icon icon="angle-right"></fa-icon>
      </button>
    </div>
  </nav>


  <div class="loader" *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <div id="musicwrap">

    <div id="music" style="width: 100%; height: 700px;"></div>
    <!-- [innerHTML]="svg | safe: 'html'"-->

  </div>
</main>

<aside class=" aside-menu-xl">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
        Selected
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
        Files
      </a>
    </li>

  </ul>
  <!-- Tab panes-->
  <div class="tab-content">
    <div class="tab-pane p-3 active" id="tab1" role="tabpanel">
      <div *ngIf="inputError.error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{inputError.errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-pcset-card *ngIf="elementListAsSet && elementListAsSet.pcs.length > 2" [pcset]="elementListAsSet"
                      [color]="'#fff'" class="card"></app-pcset-card>

      <table class="table">
        <tr>
          <th>id</th>
          <th>pitch</th>
          <th>oct</th>
          <th>accid</th>
        </tr>
        <tr *ngFor="let element of elementList">
          <td>{{element.id}}</td>
          <td>{{element.pname}}</td>
          <td>{{element.oct}}</td>
          <td>{{element.accid.join(',')}}</td>
        </tr>
      </table>
      <div class="card">
        <button *ngIf="activePool.name !== ''" class="btn btn-light" (click)="addToPoolSet()">Add Set to
          Pool {{activePool.name}}</button>
      </div>
      <div class="card">

        <button *ngIf="elementList.length" (click)="clearNotes()" class="btn btn-light">Clear Selection</button>
      </div>
    </div>
    <div class="tab-pane p-3" id="tab2" role="tabpanel">
      <button type="button" class="btn btn-secondary" routerLink="/upload">Upload Files</button>
      <div class="list-group mt-5">
        <button class="list-group-item list-group-item-action" [class.active]="element.id === activeFile.id"
                *ngFor="let element of filesList" (click)="openFile(element)">
          {{element.name}}
        </button>
      </div>
    </div>

  </div>
</aside>
