<div class="card-header d-flex align-items-center justify-content-start" #cardheader>
  <h5 class="card-title">Set: {{pcsView(pcset)}}</h5>
  <app-simple-int-visualizer [pitchclasses]="pcset.pcs" class="mr-auto"></app-simple-int-visualizer>
  <button type="button" class="btn btn-danger btn-sm rounded-0" (click)="deleteSet()">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
<div class="card-body">
  <table class="table">
    <tr>
      <td>Normal form</td>
      <td>{{pcsView(pcset, 'normalForm')}}</td>
      <td>
        <app-simple-int-visualizer [svgWidth]="100" [svgHeight]="50" [pitchclasses]="pcset.normalForm"></app-simple-int-visualizer>
      </td>
    </tr>
    <tr>
      <td>Prime form</td>
      <td>{{primeView(primeform)}}</td>
      <td>
        <app-simple-int-visualizer [svgWidth]="100" [svgHeight]="50" [pitchclasses]="primeform"></app-simple-int-visualizer>
      </td>
    </tr>
    <tr>
      <td>Interval class vector</td>
      <td>{{icvValues}}</td>
      <td>
        <app-simple-int-visualizer [svgWidth]="100" [svgHeight]="50" [pitchclasses]="icvAsPC" [yAxis]="6"></app-simple-int-visualizer>
      </td>
    </tr>
  </table>
</div>

